# ── Database Configurations ───────────────────────────────────────────────
ConnectionStrings__DefaultConnection="Server=YOUR_DATABASE_HOST;Port=YOUR_DATABASE_PORT;Database=YOUR_DATABASE_NAME;Uid=YOUR_DATABASE_USER;Pwd=YOUR_DATABASE_PASSWORD;SslMode=Required;"

# ── JWT Security Configurations ──────────────────────────────────────────
Jwt__Secret="YOUR_JWT_SUPER_SECRET_KEY_AT_LEAST_32_BYTES_LONG"
Jwt__Issuer="YOUR_JWT_ISSUER"
Jwt__Audience="YOUR_JWT_AUDIENCE"
Jwt__ExpiryMinutes="15"

# ── Email Configurations ──────────────────────────────────────────────────
Email__Host="smtp.example.com"
Email__Port="587"
Email__Username="YOUR_EMAIL_SMTP_USERNAME"
Email__Password="YOUR_EMAIL_SMTP_PASSWORD"
Email__FromEmail="noreply@yourdomain.com"
Email__FromName="Your Brand Name"
